/venv
/__pycache__
/*.egg-info
src/sehr_cloud.egg-info/
__pycache__/
/.vscode
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
policy_hcp_new.json